body{

    background-image: url(../img/king_leather.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

.logo {
    width: 85px;
    border-radius: 19%;
    box-shadow: 0 0 20px red;
    margin-top: 15px;
}

h3{
    margin: 60px 89px 89px 89px;
    font-size:x-large;
    text-shadow: 1px 1px 1px white;
}